.Mainbox {
    margin-left: 20px;
    width: 250px;
    background-color: #ffe775;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 16px;
    color: blueviolet;
    font-weight: bold;

}

.tasks {

    padding: 2px;
    margin: 2px;

}

.Mainbox .deletbutton {

    background-color: blueviolet;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 180px;
}
